@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>Steam Stats</h1>
    <p class="lead">View and share your steam stats online.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
<div  class="col-lg-12" >
    <div class="center-block">
        <h2>Top Steam Games</h2>
    </div>
</div>
<div class="col-lg-12">
    <div class="panel panel-default col-md-6 margin-top ">
        <div class="panel-heading">
            <h3 class="panel-title"># 1: PLAYERUNKNOWN'S BATTLEGROUNDS</h3>
        </div>
        <div class="panel-body center-block">
          
          
            <iframe width="420" height="315" src="https://www.youtube.com/embed/m0Tnp-3W3z4" frameborder="0" gesture="media" allowfullscreen></iframe>
            <br>
            <a href="http://store.steampowered.com/app/578080/PLAYERUNKNOWNS_BATTLEGROUNDS/">PUBG</a>
        </div>
    </div>
    <div class="panel panel-default col-md-6 margin-top ">
        <div class="panel-heading">
            <h3 class="panel-title"># 2: Dota 2</h3>
        </div>
        <div class="panel-body">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/LV1ZV_DG3kI" frameborder="0" gesture="media" allowfullscreen></iframe>
            <br>
            <a href="http://store.steampowered.com/app/570/Dota_2/">DOTA 2</a>
        </div>
    </div>
   

</div>


<div class="col-lg-12 margin">
    <div class="col-md-6 margin-top">
        <a href="@Url.Action("Index", "GameStats" )" class="btn btn-primary btn-lg btn-block">View your Game Stats</a>
        <a href="@Url.Action("Create", "GameStats" )" class="btn btn-primary btn-lg btn-block">Add a new Game</a>

    </div>
    <div class="col-md-6 margin-top">
        <a href="@Url.Action("Details", "UserAcounts" )" class="btn btn-primary btn-lg btn-block">Your Profile</a>
        

    </div>
  
</div>
